#brand img {
    margin-right: 3px;
}

#eye {
    position         : absolute;
    left             : 0;
    top              : 0;
    background-color : #FF0000;
    width            : 40px;
    height           : 40px;
    opacity          : 0.35;
    border-radius    : 50%;
    z-index          : 2;
}

#screen {
    z-index: 0;
    max-width: none;
}

#fix-index {
    width        : 35px;
    margin-right : 10px;
}

#progress-bar {
    background-color : #F0AD4E;
    width            : 0%;
    height           : 10px;
    margin-top       : 5px;
}

#time-label {
    margin-left      : 15px;
    background-color : white;
    border           : 1px solid #AAA;
    padding          : 3px;
}

#play-button {
    margin-left: 20px;
}

#aoi-menu {
    margin-left: 20px;
}

.tag {
    margin-top  : 8px;
    margin-left : 10px;
    padding     : 5px;
}

.aoi-rectangle {
    position         : absolute;
    background-color : #0000FF;
    opacity          : 0.15;
    z-index          : 1;
}

.trailing-fixation.circle {
    position         : absolute;
    background-color : #000000;
    width            : 20px;
    height           : 20px;
    opacity          : 0.35;
    border-radius    : 50%;
    z-index          : 2;
}
